.heading {
  width: 400px;
  padding-top: 160px;
  margin: auto;
}
.letterG{
  color: red;
}
.inputs {
  width: 400px;
  margin: auto;
}
.searchField{
  width: 500px;
}
#googleLogo{
  padding-left: 107px;
}
#searchBtn{
  margin-left: 115px;
}

ul {
  list-style: none;
  margin: 0;
  /* padding: 0; */
  overflow: hidden;
  background: #FFF;
  height: 41px;
  padding-top: 20px;
}

li {
  float: right;
}

li a {
  /* display: block; */
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li #roundedName {
  border-radius: 50%;
  background: blue;
  margin: 4px 2px;
}

.top-footer {
  background: grey;
  position: fixed;
  height: 45px;
  width: 100%;
  left: 0;
  bottom: 45px;
}

.top-footer p{
  margin-left: 55px;
}

.bottom-footer {
  background: grey;
  position: fixed;
  height: 45px;
  width: 100%;
  left: 0;
  bottom: 0;
}

.bottom-footer ul {
  list-style: none;
  margin: 0;
  /* padding: 0; */
  overflow: hidden;
  background: grey;
  /* height: 41px; */
  /* padding-top: 20px; */
}

.bottom-footer li {
  float: left;
}
